.container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    /*grid-template-columns: auto auto auto auto auto auto auto;*/
    grid-gap: 5px;
    padding: 10px;
}

.grid-item1{
    border: 1px solid red;
    /* grid-area: 1/1/span 2/4; */
    height: auto;
}
.grid-item2{
    border: 1px solid red;
    /* grid-area: 3/1/4/6; */
    height: auto;
}
.grid-item3{
    border: 1px solid red;
    height: auto;
    /* grid-area: 2/3/span / span 3; */
}
.grid-item4{
    border: 1px solid red;
    height: auto;
    /* grid-area: 4/3/4/7; */
}
.grid-item5{
    border: 1px solid red;
    height: auto;
}
.grid-item6{
    border: 1px solid red;
    height: auto;
}
.grid-item7{
    border: 1px solid red;
    height: auto;
}
.grid-item8{
    border: 1px solid red;
    height: auto;
}
.grid-item9{
    border: 1px solid red;
    height: auto;
}
.grid-item10{
    border: 1px solid red;
    height: auto;
}
.grid-item11{
    border: 1px solid red;
    height: auto;
}
.grid-item12{
    border: 1px solid red;
    height: auto;
}

@media screen and (max-width: 600px) {
    .container{
        grid-template-columns: 1fr 1fr 1fr;
    }
  }

  @media screen and (min-width: 1200px) {
    .container{
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    }
  }